#!/bin/bash

sudo wget https://github.com/prometheus/prometheus/releases/download/v3.7.0-rc.0/prometheus-3.7.0-rc.0.linux-amd64.tar.gz
sudo tar xvfz prometheus-3.7.0-rc.0.linux-amd64.tar.gz
cd prometheus-3.7.0-rc.0.linux-amd64
cat <<EOF > prometheus.yml
global:
  scrape_interval: 2m

scrape_configs:
  - job_name: 'web-site'
    scrape_interval: 2m
    scrape_timeout: 30s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets: ['35.156.56.176']
EOF
sudo ./prometheus --config.file=./prometheus.yml
